%h3 Subscription activated
%p
Dear #{@user.name}
%p We have received confirmation from paypal that your AppName subscription has successfully been created.
%p
If you have any queries please mail us with your reference number #{@subscription.paypal_customer_token} at support@searleconsulting.co.za or go to #{link_to 'AppName.com', root_url, :target => '_blank'} and click on contact.
%br
%p Thank you for your support
%br
%p Regards
%p AppName.com