%h3 Frequently Asked Questions
%br
  %a{:href => "#Question1"} 1. Where is my question?
  %br
    %a{:href => "#Question2"} 2. Where is my question?
    %br
      %a{:href => "#Question3"} 3. Where is my question?
      %br
        %a{:href => "#Question4"} 4. Where is my question?
        %br
          %a{:href => "#Question5"} 5. Where is my question?
          %br
            %br
              Your question not listed above? You can also check out the #{link_to 'About', about_path} page or #{link_to 'Contact Us', contact_us_path}.
              %hr.bs-docs-separator
                %h3 Answers
                %br
                  %a{:name => "Question1"} 1. Where is my question?
                  %a{:href => "#top"} (Back to Top)
                  %br
                    Here is my answer.
                    %br
                      %br
                        %br
                          %a{:name => "Question2"} 2. Where is my question?
                          %a{:href => "#top"} (Back to Top)
                          %br
                            Here is my answer.
                            %br
                              %br
                                %a{:name => "Question3"} 3.Where is my question?
                                %a{:href => "#top"} (Back to Top)
                                %br
                                  Here is my answer.
                                  %br
                                    %br
                                      %br
                                        %a{:name => "Question4"} 4. Where is my question?
                                        %a{:href => "#top"} (Back to Top)
                                        %br
                                          Here is my answer.
                                          %br
                                            %br
                                              %a{:name => "Question5"} 5. Where is my question?
                                              %a{:href => "#top"} (Back to Top)
                                              %br
                                                Here is my answer.
                                                %hr.bs-docs-separator
                                                  For more information on how BnbEezy works, check out the #{link_to 'About page', about_path}.
                                                  %br